<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<center>
  <h1>Nutrition Assistant</h1>
  <br>
  <div class="parent grid-parent-upload">
    <div class="child">
      <h2>Upload Nutrition Label Image</h2>
      <form id="upload-form-label" action="/upload-label-image" method="POST" enctype="multipart/form-data">
        <div class="upload-container"><input id="file-picker-label" type="file" name="image"></div>
        <div><input type="submit" value="Upload Image"></div>
      </form>
      <p id="message-label">{{messageLabel}}</p>
    </div>
    <div class="child">
      <h2>Upload Food Image</h2>
      <form id="upload-form-food" action="/upload-food-image" method="POST">
        <div class="upload-container"><input id="file-picker-food" type="file" name="image"></div>
        <div><input type="submit" value="Upload Image"></div>
      </form>
      <p id="message-food">{{messageFood}}</p>
    </div>
  </div>

  <br>
  <hr>
  <br>

<h2>Macronutrient Analysis</h2>
<br>
<form id="get-data" action="/fetch-nutrition-data" method="POST" enctype="multipart/form-data">
  <div>
  <input id="reportrange" type="text" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 50%"> <i class="fa fa-calendar"></i>&nbsp; <span></span> <i class="fa fa-caret-down"></i>
  </div >
</form>

<br>
<button form="get-data" type="submit">Fetch nutrition data</button>

<script type="text/javascript">
$(function() {

    var start = moment().subtract(29, 'days');
    var end = moment();

    function cb(start, end) {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
    }

    $('#reportrange').daterangepicker({
        startDate: start,
        endDate: end,
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment().startOf('month'), moment().endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);

    cb(start, end);

});
</script>


{{!-- 
  <div class="parent grid-parent-table">
    <div class="child">
      <h2>Last Day</h2>
      <table>
        <tr>
          <th>Company</th>
          <th>Contact</th>
          <th>Country</th>
        </tr>
        <tr>
          <td>Alfreds Futterkiste</td>
          <td>Maria Anders</td>
          <td>Germany</td>
        </tr>
        <tr>
          <td>Centro comercial Moctezuma</td>
          <td>Francisco Chang</td>
          <td>Mexico</td>
        </tr>
      </table>
    </div>
    <div class="child">
      <h2>Last Week</h2>
      <table>
        <tr>
          <th>Company</th>
          <th>Contact</th>
          <th>Country</th>
        </tr>
        <tr>
          <td>Alfreds Futterkiste</td>
          <td>Maria Anders</td>
          <td>Germany</td>
        </tr>
        <tr>
          <td>Centro comercial Moctezuma</td>
          <td>Francisco Chang</td>
          <td>Mexico</td>
        </tr>
      </table>
    </div>
    <div class="child">
      <h2>Last Month</h2>
      <table>
        <tr>
          <th>Company</th>
          <th>Contact</th>
          <th>Country</th>
        </tr>
        <tr>
          <td>Alfreds Futterkiste</td>
          <td>Maria Anders</td>
          <td>Germany</td>
        </tr>
        <tr>
          <td>Centro comercial Moctezuma</td>
          <td>Francisco Chang</td>
          <td>Mexico</td>
        </tr>
      </table>
    </div>
  </div>

  <br>
  <hr>
  <br> --}}
  <br><br><br>
  <p>This app has no official privacy policy. Your data will be uploaded to Azure Blob Storage. Your images will be public once you upload them and there is no automated way to remove them.</p>
</center>
<script>
  document.addEventListener('DOMContentLoaded', () => {

    const messageLabel = document.getElementById('message-label');
    const picker = document.getElementById('file-picker-label');

    document.getElementById('upload-form-label').addEventListener('submit', (e) => {

      messageLabel.innerText = '';

      if(!picker.files.length) {
        messageLabel.innerText = 'Please select an image to upload.';
        e.preventDefault();
        return false;
      }
    });

  });
</script>

<script>
  document.addEventListener('DOMContentLoaded', () => {

    const messageFood = document.getElementById('message-food');
    const picker = document.getElementById('file-picker-food');

    document.getElementById('upload-form-food').addEventListener('submit', (e) => {

      messageFood.innerText = '';

      if(!picker.files.length) {
        messageFood.innerText = 'Please select an image to upload.';
        e.preventDefault();
        return false;
      }
    });

  });
</script>